<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Flask Monolith{% endblock %}</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <!-- Favicon -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
  <!-- Additional head content -->
  {% block head %}{% endblock %}
</head>

<body>
  <!-- Navigation -->
  {% include 'partials/navbar.html' %}
  {% include 'partials/toast_alerts.html' %}

  <!-- Main content -->
  <main class="container mt-4">
    {% block content %}{% endblock %}
  </main>

  <!-- Footer -->
  <footer x-data="{ year: new Date().getFullYear() }" class="footer mt-5 py-3 bg-light">
    <div class="container text-center">
      <span class="text-muted">&copy; <span x-text="year"></span> Flask Starter</span>
    </div>
  </footer>

  <!-- Bootstrap JS -->
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  <!-- Custom JS -->
  <script src="{{ url_for('static', filename='js/alpine.min.js') }}"></script>
  <!-- Custom JS -->
  <script src="{{ url_for('static', filename='js/htmx.min.js') }}"></script>
  <!-- Custom JS -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  <!-- Additional scripts -->
  {% block scripts %}{% endblock %}
</body>

</html>
